 /* UTILITY CLASS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
}
.border-black{
    border: 1px solid black;
}

.item{
    display: none;
}
.item.active{
    display: block;
    width: 100%;
    height: 100%;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
h2{
    position: absolute;
    bottom: 20%;
    right: 3%;
    text-shadow: rgba(0, 0, 0, 0.874) 0px 5px 15px;
}
p{
    position: absolute;
    bottom: 10%;
    right: 3%;
    font-size: 1.25rem;
    text-shadow: rgba(0, 0, 0, 0.874) 0px 5px 15px;
    line-height: 1.5rem;
}
/* MAIN  */
main{
    padding-top: 6rem;
}

.container{
    width: 85vw;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#big-img-container{
    height: 100%;
    width: 80%;
    position: relative;
    color: white;
    text-align: end;
}

/* THUMBNALIS  */
#thumbnails{
    height: 100%;
    width: 20%;
    position: relative;
    background-color: black;
}

.thum-item{
    height: 20%;
    opacity: .5;
}

.thum-item.active{
    border: 2px solid white;  
    opacity: 1;
}

.circle-button{
    height: 2.5rem;
    width: 2.5rem;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 1;
}

.circle-button:hover{
    background-color: rgb(166, 164, 164);
}

.circle-button i{
    font-size: 1.75rem;
}

.circle-button.up{
    top: .5rem;
}

.circle-button.down{
    bottom: .5rem;
}

/* BUTTONS  */
#buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

#buttons i{
    font-size: 1.3rem;
}

#buttons button{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: lightgray;
}

#buttons button:hover{
    background-color: rgb(202, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.874) 0px 5px 5px;
}

#buttons #backward i{
    position: relative;
    right: .1rem;
}

#stop{
    margin: 0 .5rem;
}

